<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
<body>
    <div id="app">
      <div class="container">
        <div class="py-3 row">
          <div class="col-md-6 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">List of users</span>
              <span class="badge badge-secondary badge-pill">{{ countUser }}</span>
            </h4>
            <form class="card">
              <div class="input-group p-1">
                <input v-model="searchText" type="text" class="form-control m-1" placeholder="">
                <div class="input-group-append p-1">
                  <button v-on:click.prevent="search" type="submit" class="btn btn-secondary">Search</button>
                </div>
                <div class="input-group-append p-1">
                  <button v-on:click.prevent="clearSearch" type="submit" class="btn btn-secondary">Clear Search</button>
                </div>
              </div>
            </form>

            <div v-if="errored" class="alert alert-danger" role="alert">
              Api error
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, index) in getUsers"  :key="user.id">
                  <th scope="row">{{ user.id }}</th>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td><button @click="removeUser(index)" type="button" class="btn btn-danger">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 order-md-1">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#description">Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#characteristics">Update</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="description">
                <form class="needs-validation" novalidate>
                <div class="mb-3">
                  <label for="name">Name</label>
                  <div class="input-group">
                    <input v-model="name" type="text" class="form-control" id="name" required>
                    <div class="invalid-feedback" style="width: 100%;">
                      Your name is required.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="email">Email</label>
                  <input v-model="email" type="email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>

                <hr class="mb-4">
                <button v-on:click.prevent="addUser" class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
              </form>
              </div>

              <div class="tab-pane fade" id="characteristics">
                <form class="needs-validation" novalidate>
                  <div class="mb-3 p-1">
                    <select v-model="selectedId" class="mt-4">
                      <option disabled value="">Select user</option>
                      <option v-for="(user, index) in getUsers" v-bind:value="user.id"  :key="user.id">{{ user.name }}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="name">Name</label>
                    <div class="input-group">
                      <input v-model="name" type="text" class="form-control" id="name" required>
                      <div class="invalid-feedback" style="width: 100%;">
                        Your name is required.
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email">Email</label>
                    <input v-model="email" type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                      Please enter a valid email address for shipping updates.
                    </div>
                  </div>

                  <hr class="mb-4">
                  <button v-on:click.prevent="updateUser" class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                </form>
              </div>
            </div>

          </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
          <p class="mb-1">&copy; Binary Studio Academy 2020 PHP</p>
        </footer>
      </div>
    </div>
    <script src="vue.js"></script>
</body>
</html>